<?xml version="1.0"?>
<launch>



<node respawn="false" pkg="serialdemo" type="serialdemo_node" name="serialdemo_node3" output="screen">
	<param name="fccSerialPort" type="string" value="/dev/ttyUSB3" />
	<param name = "ID" type = "int" value = "3" />
        <param name = "MAC_Addr1"   value = "10621696" />       <!-- this is signed int, take care if the MAC address start with F  -->
        <param name = "MAC_Addr2"  value = "97100096" />

  </node>

</launch>
